/* ::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: #1e2122;
}

::-webkit-scrollbar-thumb {
    background-color: #424649;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
} */

body {
    background-color: black;
}